{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="row">
    <div class="login">
      <h2>Login</h2>
      {% if user.is_authenticated %}
        Du er allerede logget inn. Vil du <a href="{% url 'logout' %}">Logge ut?</a>
      {% else %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
      <p>(Not a user? <a href="/register">Register</a>)<p>
      {% endif %}
    </div>
  </div>
{% endblock %}
