{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="login col-lg-3 col-md-3 col-sm-6 col-xs-10">
      <div class="login padding-top-10">
        {% if user.is_authenticated %}
          <p>
            You are allready logged in.
            Do you want to <a href="{% url 'logout' %}">log out</a>?
          </p>
        {% else %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="button" type="submit">Login</button>
        </form>
        <p class="padding-top-5">(Not a user? <a href="/register">Register</a>)<p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
