.button {
  text-decoration: none;
  background-color: white;
  border: 3px solid #474747;
  padding: 10px 10px 10px 10px;
  font-family: 'Gotham Medium';
  letter-spacing: 2px;
  font-size: 14px;
}

.home {
  text-align: center;
}

.box-display {
  margin: 0 auto;
  width: 35.33vw;
  padding-top: 1%;
  padding-bottom: 1%;
}

.box {
  display: table;
  float: left;
  width: 10vw;
  height: 10vw;
  background-color: #EFEBEA;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.action-box {
  font-size: 12px;
  margin: 0 auto;
  padding: 0.7%;
  width: 15vw;
  border: 3px solid #474747;
  letter-spacing: 2px;
}

.action-box p {
  margin: 0;
}

.action-box a {
  color: #474747;
}

.inner-diamond p {
  visibility: hidden;
  margin: 0 auto;
  margin-top: -50px;
  text-align: center;
  color: white;
  width: 100px;
  height: 100px;
  position: relative;
  font-size: 12px;
}

.register {
  margin: 0 auto;
  padding-top: 2%;
}

div#diamond {
  margin:0 auto;
  margin-top: -35px;
}

#diamond {
	width: 0;
	height: 0;
	border: 32px solid transparent;
	border-bottom-color: #474747;
	position: relative;
	top: -32px;
}

#diamond:after {
	content: '';
	position: absolute;
	left: -32px;
	top: 32px;
	width: 0;
	height: 0;
	border: 32px solid transparent;
	border-top-color: #474747;
}
