{% load static %}

<div class="row">
  <div class="links">
    <p>
      {% if user.is_authenticated %}
        <span>{{ user.username }}</span> (<a class="user" href="{% url 'logout' %}">logout</a>)
      {% else %}
        <a href="{% url 'login' %}">login</a>
      {% endif %}
    </p>
    <p><a class="link" href="{% url 'contact' %}">Contact</a></p>
    <p><a class="link" href="{% url 'about' %}">About</a></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12	col-lg-12">
    <div class="logo center">
      <a href="/">
        <img src="{% static 'images/listfully.png' %}"></img>
      </a>
    </div>
    <hr class="logo-underline" />
    <div class="logo-statements no-mobile">
      <P class="statement garamond">List consciously.</p>
      <p class="statement garamond">List usefully.</p>
      <p class="statement garamond">List joyously.</p>
    </div>
  </div>
</div>
