<meta charset="utf-8">
<title>{% block title %}Listfully{% endblock %}</title>
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/simple-grid.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}" /></script>
<script type="text/javascript" src="{% static 'js/item.js' %}"></script>
