{% extends 'base.html' %}

{% block content %}
  <div class="home">
    {% if user.is_authenticated %}
      <div class="center">
        {% include 'lists.html' %}
      </div>
    {% else %}
      <div class="row">
        <div class="introduction center padding-bottom-1">
          <p>
            Gifts cause stress. Giving shouldn’t.
            Listfully is a space where you can <bold class="gotham-medium">create personalized lists</bold>
            of anything you’d like to receive as a gift, and <bold class="gotham-medium">share your list</bold> with family
            and friends
          </p>

          <p class="padding-top-2 padding-bottom-2">
            Unlike other gift registries, Listfully provides total freedom to
            <bold class="gotham-medium">list anything</bold> from anywhere, both online and in the physical world.
            Using Listfully helps people in your life save time and avoid
            uncertainty in finding the right gift for you.
          </p>

          <p class="no-mobile padding-top-1 padding-bottom-1">
            But the very best thing about Listfully is that you can use it to
            do good. Support small businesses by listing locally. Be mindful in
            choosing gifts that can be sustainable, experience-based, consumable,
            or charitable. Your lists are your space, and anything you want them
            to be.
          </p>

          <p class="garamond padding-top-2 padding-bottom-1">
            So list consciously. List creatively. List freely.
          </p>

          <p class="garamond padding-bottom-5">
            List fully.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="start button center">
          <p><a href="{% url 'login' %}">LOG IN</a></p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
