{% extends 'base.html' %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="box-display">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>

    <div class="row">
      <div class="margin-5">
        <h2>Give and get better!</h2>
      </div>
    </div>

    <div class="row">
      {% if user.is_authenticated %}
        <div class="action-box">
          <p><a href="{% url 'lists' %}">Get started</a></p>
        </div>
      {% else %}
        <div class="action-box">
          <p><a href="{% url 'login' %}">Get started</a></p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
