{% extends 'base.html' %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="box-display">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>

    <div class="row">
      <div class="garamond center padding-top-5 padding-bottom-5">
        <h2>Give and get better!</h2>
      </div>
    </div>

    <div class="row">
      {% if user.is_authenticated %}
        <div class="action-box gotham-medium">
          <p>
            <a href="{% url 'lists' %}">GET STARTED</a>
          </p>
        </div>
      {% else %}
        <div class="action-box gotham-medium">
          <p><a href="{% url 'login' %}">GET STARTED</a></p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
