{% load static %}

{% block content %}
  <p>
    Velkommen til siden vår :) På denne siden kan du lage din egen ønskeliste!
    Nedenfor ligger en fin liste med ikoner du kan se på frem til det kommer
    noe spennende du kan gjøre.
  </p>
  <div class="row">
    <img class="icon-xs" src="{% static "images/calendar.svg" %}" alt="something" >
    <img class="icon-small" src="{% static "images/calendar.svg" %}" alt="something" >
    <img class="icon-medium" src="{% static "images/calendar.svg" %}" alt="something" >
    <img class="icon-large" src="{% static "images/calendar.svg" %}" alt="something" >
    <img class="icon-xl" src="{% static "images/calendar.svg" %}" alt="something" >
  </div>

  <div class="row">
    <img class="icon-xs" src="{% static "images/gift.svg" %}" alt="something" >
    <img class="icon-small" src="{% static "images/gift.svg" %}" alt="something" >
    <img class="icon-medium" src="{% static "images/gift.svg" %}" alt="something" >
    <img class="icon-large" src="{% static "images/gift.svg" %}" alt="something" >
    <img class="icon-xl" src="{% static "images/gift.svg" %}" alt="something" >
  </div>

  <div class="row">
    <img class="icon-xs" src="{% static "images/diamond-pink.svg" %}" alt="something" >
    <img class="icon-small" src="{% static "images/diamond-pink.svg" %}" alt="something" >
    <img class="icon-medium" src="{% static "images/diamond-pink.svg" %}" alt="something" >
    <img class="icon-large" src="{% static "images/diamond-pink.svg" %}" alt="something" >
    <img class="icon-xl" src="{% static "images/diamond-pink.svg" %}" alt="something" >
  </div>

  <div class="row">
    <img class="icon-xs" src="{% static "images/paper-plane.svg" %}" alt="something" >
    <img class="icon-small" src="{% static "images/paper-plane.svg" %}" alt="something" >
    <img class="icon-medium" src="{% static "images/paper-plane.svg" %}" alt="something" >
    <img class="icon-large" src="{% static "images/paper-plane.svg" %}" alt="something" >
    <img class="icon-xl" src="{% static "images/paper-plane.svg" %}" alt="something" >
  </div>
{% endblock %}
