{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if user.is_authenticated %}

    <div class="row">
      <div class="list-title">
        <h2>{{ list.name }}</h2>
        <p>
          <a class="share" target="_blank" href="http://{{ request.get_host }}/{{ list.share }}">
            <i class="fa fa-link" aria-hidden="true"></i>
            {{ request.get_host }}/{{ list.share }}
          </a>
        </p>
      </div>
      <div class="item-form">
        <form action="." method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input id="id_name" placeholder="Name" maxlength="50" name="name" type="text" required="">
          <input id="id_url" placeholder="Url" maxlength="500" name="url" type="text">
          <input id="id_location" placeholder="Location" maxlength="100" name="location" type="text">
          <input id="id_price_range" placeholder="Price" maxlength="20" name="price_range" type="text">
          <input id="id_description" placeholder="Details" maxlength="100" name="description" type="text">
          <input id="id_image" name="image" type="file">
          <input id="user" name="user" type="hidden" value="{{ user }}">
          <input class="button" type="submit" value="Add item">
        </form>
      </div>

      <hr class="line" />
    </div>

    <div class="row">
      <div class="item-container">
        {% for item in list.item_set.all %}
          <div class="item">
            {% if item.image %}
              <img class="item-image" src="{{MEDIA_URL}}{{ item.image }}" alt="" />
            {% else %}
              <img class="item-image" src="{{MEDIA_URL}}default.jpg" alt="" />
            {% endif %}
            <div class="item-info">
              <h4 class="name">{{ item.name }}</h4>
              <div class="links">
                {% if item.url %}
                  <i class="fa fa-link"></i>
                  {% if complete_item_url %}
                    <a class="url" target="_blank" href="{{ item.url }}">{{item.url}}</a>
                  {% else %}
                    <a class="url" target="_blank" href="http://{{ item.url }}">{{item.url}}</a>
                  {% endif %}
                {% endif %}
                {% if item.location %}
                  <i class="fa fa-map-marker"></i>
                  <a class="location" target="_blank" href="http://maps.google.com/?q={{ item.location }}">
                    {{ item.location }}
                  </a>
                {% endif %}
              </div>
              <p class="price_range"><b>Price:</b> {{ item.price_range }}</p>
              <p class="description"><b>Description:</b> {{ item.description }}</p>
              <a class="delete" href='delete/{{item.id}}/'><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p>Du er ikke logget inn (<a href="{% url 'login' %}">login</a>)</p>
  {% endif %}
{% endblock %}
