{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% if user.is_authenticated %}
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 list-title center">
        <h2 class="garamond list-name">{{ list.name }}</h2>
        <p class="list-link">
          <a class="share" target="_blank" href="http://{{ request.get_host }}/{{ list.share }}">
            <i class="fa fa-link" aria-hidden="true"></i>
            {{ request.get_host }}/{{ list.share }}
          </a>
        </p>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-9 col-xs-10 list-form center">
        <form action="." method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input id="id_name" placeholder="Name" maxlength="50" name="name" type="text" required="">
          <input id="id_url" placeholder="Url" maxlength="500" name="url" type="text">
          <input id="id_location" placeholder="Location" maxlength="100" name="location" type="text">
          <input id="id_price_range" placeholder="Price" maxlength="20" name="price_range" type="text">
          <input id="id_description" placeholder="Details" maxlength="100" name="description" type="text">
          <input class="padding-top-2 padding-bottom-2" id="id_image" name="image" type="file">
          <input id="user" name="user" type="hidden" value="{{ user }}">
          <input class="button gotham-medium center" type="submit" value="Add item">
        </form>
      </div>
    </div>
    {% include 'item_list.html' %}
  {% else %}
    <p>Du er ikke logget inn (<a href="{% url 'login' %}">login</a>)</p>
  {% endif %}
{% endblock %}
