<div class="row item-container">
  {% for item, form in items %}
    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
      {% if item.image %}
        <img class="item-image" src="{{MEDIA_URL}}{{ item.thumbnail }}" alt="" />
      {% else %}
        <div class="item-image beige"></div>
      {% endif %}

      <div class="item-info" id="item-info-{{ item.id }}">
        <h4 class="name">{{ item.name }}</h4>
        <div class="item-links">
          {% if item.url %}
            <p>
              <i class="fa fa-link"></i>
              <a class="url" target="_blank" href="{{ item.url }}">{{item.url}}</a>
            </p>
          {% endif %}
          {% if item.location %}
            <p>
              <i class="fa fa-map-marker"></i>
              <a class="location" target="_blank" href="http://maps.google.com/?q={{ item.location }}">
                {{ item.location }}
              </a>
            </p>
          {% endif %}
        </div>
        {% if item.price_range %}
          <p class="price_range"><b class="gotham-medium">Price:</b> {{ item.price_range }}</p>
        {% endif %}
        {% if item.description %}
          <p class="description"><b class="gotham-medium">Description:</b> {{ item.description }}</p>
        {% endif %}

        {% if share %}
          <div class="buy-form">
            <form action="/lists/buy/" method="POST">
              {% csrf_token %}
              <input name="bought" class="hidden" value="{{ item.bought|yesno:'False,True' }}" />
              <input id="bought-{{ item.id }}"  type="button" class="button" value="{{ item.bought|yesno:'BOUGHT,BUY' }}" />
              <input id="item_id" name="item_id" type="hidden" value="{{ item.id }}" />
              <input id="share" name="share" type="hidden" value="{{ list.share }}" />
              <input id="buy-item-{{ item.id }}" type="Submit" value="Submit" class="hidden" />
            </form>
          </div>
        {% else %}
          <a class="delete" href='delete/{{item.id}}/'>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
          <a id="edit-item-{{ item.id }}" href="javascript:void(0)">
            <i class="fa fa-pencil edit" aria-hidden="true"></i>
          </a>
        {% endif %}
      </div>

      {% if user.is_authenticated and not share %}
        <div id="edit-form-{{ item.id }}" hidden="">
          <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input value="{{ item.name }}" id="id_name" placeholder="Name" maxlength="50" name="name" type="text" required="">
            <input value="{{ item.url }}" id="id_url" placeholder="Url" maxlength="500" name="url" type="text">
            <input value="{{ item.location }}" id="id_location" placeholder="Location" maxlength="100" name="location" type="text">
            <input value="{{ item.price_range }}" id="id_price_range" placeholder="Price" maxlength="20" name="price_range" type="text">
            <input value="{{ item.description }}" id="id_description" placeholder="Details" maxlength="100" name="description" type="text">
            <input class="padding-top-2 padding-bottom-2" id="id_image" name="image" type="file">
            <input value="{{ item.id }}" id="id_id" name="id" type="hidden">
            <input value="{{ user }}" id="user" name="user" type="hidden">
            <button class="button full-width" type="submit">SAVE CHANGES</button>
          </form>
          <button id="cancel-item-{{ item.id }}" class="button full-width">CANCEL</button>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% if user.is_authenticated %}
  <script type="text/javascript">
    $( document ).ready(function() {
      edit.bindForm({{ form_items }});
    });
  </script>
{% endif %}
