{% extends 'app.html' %}
{% load static %}

{% block content %}
  {% if user.is_authenticated %}
    <h3>{{ list.name }}</h3>
    <div class="item-form">
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="user" name="user" type="hidden" value="{{ user }}">
        <input type="submit" value="Add item">
      </form>
    </div>

    {% for item in list.item_set.all %}
      <div class="item">
        <img class="custom-image" src="{{ MEDIA_ROOT }}/{{ item.image }}" alt="" />

        <h4 class="name">{{ item.name }}</h4>

        <p class="url">
          {% if complete_item_url %}
            <a class="url" target="_blank" href="{{ item.url }}">{{item.url}}</a>
          {% else %}
            <a class="url" target="_blank" href="http://{{ item.url }}">{{item.url}}</a>
          {% endif %}
        </p>
        <p class="price_range"><b>Price:</b>{{ item.price_range }}</p>
        <p class="description"><b>Description:</b> {{ item.description }}</p>
        <a class="delete" href='delete/{{item.id}}/'>Delete</a>
      </div>
    {% endfor %}

  {% else %}
    <p>Du er ikke logget inn (<a href="{% url 'login' %}">login</a>)</p>
  {% endif %}
{% endblock %}
