<div class="row">
  <div class="lists col-lg-7 col-md-7 col-sm-10 col-xs-10">
    {% if user.is_authenticated %}
      {% if not user.list_set.all %}
        <p>You dont have any lists. Create one?</p>
        <a class="create-list" href="{% url 'add_list' %}">Crete your first list!</a>
      {% else %}
        {% for list in user.list_set.all %}
          <a class="list" href="/lists/{{ list.id }}">
            <div class="list-item">
              <div class="list-box">
                <p class="item-list-name">{{ list.name }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
        <div class="padding-top-2 padding-bottom-10">
          <a class="create-list button" href="{% url 'add_list' %}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            ADD LIST
          </a>
        </div>
      {% endif %}
    {% else %}
      <p>Du er ikke logget inn (<a href="{% url 'login' %}">login</a>)</p>
    {% endif %}
  </div>
</div>
